.fundo-gradient-texto {
  @apply bg-gradient-to-tr from-primary-500 via-blue-600 to-primary-700 dark:via-blue-400 dark:to-primary-400;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
